@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #f3d6d1 0, #ccc8c7, #f3d6d1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #918f8f;
  border-radius: 1rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.5),
    inset -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.is-visible.player {
  visibility: visible;
  opacity: 1;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 55px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/svg/play.svg");
  background-size: 25px 25px;
  left: 20px;
  top: 2px;
  transition: 0.5s;
}

.item-active::before {
  color: #c5b358;
}

.is-play::after {
  background-image: url("../assets/svg/pause.svg");
  background-size: 25px 25px;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s;
}

.change-quote {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.is-visible.change-quote {
  visibility: visible;
  opacity: 1;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.is-visible.weather {
  visibility: visible;
  opacity: 1;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 0;
  transition: 1s;
}

.is-visible.time {
  opacity: 1;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 1s;
}

.is-visible.date {
  opacity: 1;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.is-visible.greeting-container {
  visibility: visible;
  opacity: 1;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.author-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.author-info__github svg {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.author-info__github .cat {
  fill: #ffffff;
  transition: 0.5s;
}

.author-info__github:hover .cat {
  fill: #ffc801;
}

.author-info__github:active .cat {
  fill: #a006ff;
}

.author-info time {
  margin-left: 40px;
}

.author-info__rsschool svg {
  width: 70px;
  height: auto;
  opacity: 0.8;
}

.author-info__rsschool .st5,
.author-info__rsschool .st10 {
  fill: #ffffff;
  transition: 0.5s;
}

.author-info__rsschool:hover .st5,
.author-info__rsschool:hover .st10 {
  fill: #ffc801;
}

.author-info__rsschool:active .st5,
.author-info__rsschool:active .st10 {
  fill: #a006ff;
}

.row-block {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.quote-info {
  margin-left: 10px;
  opacity: 0;
  transition: 1s;
}

.is-visible.quote-info {
  opacity: 1;
}

.settings-block {
  position: relative;
}

.to-do-block {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.is-visible.to-do-block {
  visibility: visible;
  opacity: 1;
}

.settings-btn,
.to-do-btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.7s;
  outline: none;
  opacity: 0.8;
}

.to-do-btn {
  color: #ffffff;
  font-size: 16px;
}

.to-do-btn:hover {
  opacity: 1;
}

.to-do-btn:active {
  transform: scale(1.5);
}

.settings-btn img {
  width: 30px;
  height: 30px;
}

.settings-btn:hover {
  opacity: 1;
}

.is-open .settings-btn {
  transform: scale(1.2) rotate(360deg);
}

.settings {
  position: absolute;
  left: 0;
  bottom: calc(100% + 5px);
  width: 0;
  height: 0;
  border-radius: 10px;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  color: #000000;
  text-align-last: left;

  transition: 0.5s;
}

.is-open .settings {
  width: 250px;
  height: 300px;
  padding: 15px 15px 10px 15px;
}

.settings::-webkit-scrollbar {
  width: 12px;
}

.settings::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  background: transparent;
}

.settings::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
}

.settings__row {
  margin: 5px 0;
}

.settings__row label {
  cursor: pointer;
}

.settings__lang {
}

.settings__title {
  margin-bottom: 10px;
}

.settings__photo {
  margin: 30px 0;
}

.settings__photo .settings__row {
  margin-bottom: 0;
}

.settings__blocks {
}

.unsplash-tags,
.flickr-tags {
  display: block;
  font-size: 14px;
  width: 200px;
  border: none;
  outline: none;
  height: 0;
  transition: 0.5s;
}

.is-active.unsplash-tags,
.is-active.flickr-tags {
  height: 20px;
}

.custom-player {
  width: 245px;
  margin-left: 30px;
}

.track {
  display: flex;
  justify-content: space-between;
}

.track-timeline {
  margin: 10px 0;
  height: 5px;
  background-color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.track-timeline:hover {
  opacity: 1;
}

.track-progress {
  height: 100%;
  width: 0%;
  background-color: coral;
}

.track-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.volume {
  cursor: pointer;
  padding: 5px;
}

.volume img {
  width: 20px;
  height: auto;
}

.volume-range {
  background-color: #ffffff;
  width: 150px;
  height: 5px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume-range:hover {
  opacity: 1;
}

.volume-progress {
  width: 30%;
  height: 100%;
  background-color: rgb(5, 216, 100);
}

.player-row {
  display: flex;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
