$bg-color: #fcf8dd;
$visited-link: #800bf5;
$hover-link: #d4a600;
$active-link: #ff0b03;
$main-fz: 1rem;
$logo-fz: 1.5rem;
$main-font: "Vollkorn SC", serif;
$logo-font: "Gluten", cursive;

:root {
  font-size: 1em;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #f3d6d1 0, #ccc8c7, #f3d6d1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #918f8f;
  border-radius: 1rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.5),
    inset -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c;
}

body {
  background-color: $bg-color;
  font-size: $main-fz;
  font-family: $main-font;
}

.app {
  background-color: $bg-color;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // .app__main-page
  &__main-page {
    flex: 1 0 auto;
  }

  &__settings {
    flex: 1 0 auto;
  }
}

.container {
  max-width: 840px;
  margin: 0 auto;

  @media screen and (min-width: 940px) {
    & {
      max-width: 900px;
    }
  }
}
