.contacts {
  display: flex;
  justify-content: space-between;

  // .contacts__title
  &__title {
    font-weight: var(--contacts-subtitle-font-weight);
    font-size: var(--logo-fz);
    line-height: 33px;
    margin-bottom: 50px;
  }
  // .contacts__address
  &__address,
  &__phone,
  &__mail {
    font-weight: var(--main-text-font-weight);
    line-height: 26px;
  }

  &__phone,
  &__mail {
    color: var(--color-text);
    @include transition-hover();
  }

  &__phone:hover,
  &__mail:hover {
    color: var(--color-hover);
  }

  &__phone:active,
  &__mail:active {
    color: var(--color-active);
  }

  address p + p {
    margin: 25px 0;
  }
  // .contacts__photo
  &__photo {
  }
}
