// :root {
//   --main-font-family: "Roboto", sans-serif;
//   --titles-font-family: "Forum", cursive;
//   --main-fz: 22px;

//   --bg-dark: #030303;
//   --bg-light: #ffffff;
//   --color-hover: #9d8665;

//   scroll-behavior: smooth;
// }

// body {
//   font-family: var(--main-font-family);
//   font-size: var(--main-fz);
// }

// .header {
//   background-color: var(--bg-dark);
// }

/* .container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
} */

// .header__inner {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 74px 0 76px 0;
// }

// .header__logo {
//   display: inline-flex;
//   align-items: baseline;

//   font-family: var(--titles-font-family);
//   font-size: 28px;
//   line-height: 31px;
//   letter-spacing: 5px;
//   text-transform: uppercase;
//   color: #ffffff;

//   cursor: pointer;

//   transition: 0.5s;
// }

// .header__logo:hover {
//   filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg)
//     brightness(93%) contrast(89%);
// }

// .header__logo-image {
//   width: 49px;
//   height: 26px;
//   margin-right: 25px;

//   background-image: url("../assets/svg/logo.svg");
// }

// .header__menu {
//   flex: 0 1 720px;
// }

// .header__menu-list {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0 -5px;
// }

// .header__menu-item {
//   padding: 0 5px;
// }

/* .header__menu-link {
  display: inline-block;

  font-style: normal;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffff;

  transition: 0.5s;
} */

/* .header__menu-link:hover,
.header__menu-link:active {
  color: var(--color-hover);
} */

/* .section {
  background-color: var(--bg-light);
  padding: 75px 0;
  color: #000000;
} */

.section_welcome {
  padding: 114px 0 246px 0;

  background-image: url("../assets/img/welcome-louvre.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 353px) 100%;
}

.section_video {
  padding-top: 90px;
}

/* .section_dark {
  background-color: var(--bg-dark);
  color: #ffffff;
} */

/* .section__title {
  font-family: var(--titles-font-family);
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
} */

/* .section__title_dark {
  color: #ffffff;
}

.section__title_light {
  color: #9d8665;
} */

/* .section__title_underline {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
} */

.section__subtitle {
  margin-top: 26px;

  font-size: 28px;
  line-height: 33px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ffffff;
}

.section__btn {
  display: inline-block;
  margin-top: 76px;
  padding: 24px 70px 25px 70px;

  line-height: 26px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffff;

  background: #710707;
  border-radius: 10px;

  transition: 0.5s;
}

.section__btn:hover {
  background-color: var(--color-hover);
}

.section__gallery {
  margin-top: 75px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 78px 10px;
}

.card {
  display: block;
}

.card__image {
}

.card__title {
  position: relative;
  margin-top: 25px;
  font-family: var(--titles-font-family);
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.card__title::after {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 300px;
  height: 2px;
  background: #710707;
  transition: 0.5s;
}

.card:hover .card__title::after {
  width: 100%;
}

.card__subtitle {
  font-weight: 100;
  line-height: 26px;
  color: #000000;
  margin-top: 21px;
}

.card__text {
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 10px;
}

/* .section__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
} */

.section__column {
  flex: 0 1 660px;
}

.section__explore .section__title {
  margin-bottom: 75px;
}

.section__text {
  font-weight: 300;
  line-height: 38px;
}

.section__text + .section__text {
  margin-top: 25px;
}

.section__text_highlight {
  color: #9d8665;
}

.section__photo {
  display: block;
  margin-top: 15px;
}

.section__video-player {
  margin-bottom: 40px;
}

.video-player {
}

.video-player__poster {
  position: relative;
}

.video-player__poster-photo {
  display: block;
}

.video-player__big-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}

.video-player__big-play:hover {
  filter: invert(15%) sepia(0%) saturate(90%) hue-rotate(171deg)
    brightness(104%) contrast(87%);
}

.video-player__panel {
  background-color: var(--bg-dark);
  padding: 25px 41px;
  display: flex;
  align-items: center;
}

.video-player__previous {
  margin-right: 41px;
}

.video-player__play {
  margin-right: 41px;
}

.video-player__next {
  margin-right: 41px;
}

.video-player__range {
  height: 8px;
  outline: none;
  transition: 0.5s;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;
}

.video-player__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.5s;
}

.video-player__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
}

.video-player__range:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.video-player__range:hover::-webkit-slider-thumb {
  background: #dddddd;
}

.video-player__range:hover::-moz-range-thumb {
  background: #dddddd;
}

.video-player__range-time {
  width: 820px;
  margin-right: 41px;

  background: linear-gradient(
    to right,
    #24809e 0%,
    #24809e 47%,
    #c4c4c4 47%,
    #c4c4c4 100%
  );
}

.video-player__volume {
  margin-right: 20px;
}

.video-player__range-volume {
  margin-right: 48px;
  width: 155px;

  background: linear-gradient(
    to right,
    #24809e 0%,
    #24809e 43%,
    #c4c4c4 43%,
    #c4c4c4 100%
  );
}

.video-player__panel .video-player__btn {
  transition: 0.5s;
}

.video-player__panel .video-player__btn:hover {
  filter: invert(54%) sepia(0%) saturate(96%) hue-rotate(170deg)
    brightness(114%) contrast(83%);
}

.section_video .section__title,
.section_video .section__text {
  flex: 0 1 50%;
}

.section_video .section__text {
  margin-top: 5px;
}

.section_tickets .section__title {
  margin-bottom: 75px;
}

.tickets {
  flex: 0 1 660px;
}

.section_tickets .section__photo {
  margin: 0;
}

.tickets__type input {
  display: none;
}

.tickets__type label {
  position: relative;
  padding-left: 40px;
  display: block;
  margin-top: 50px;
  font-weight: 300;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.tickets__type label:hover {
  color: var(--color-hover);
}

.tickets__type label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: 0.5s;
}

.tickets__type label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  transition: 0.5s;
}

.tickets__type input:checked + label::after {
  background: rgba(255, 255, 255, 1);
}

.tickets__type label:hover::before {
  border-color: var(--color-hover);
}

.tickets__type input:checked + label:hover::after {
  background: var(--color-hover);
}

.tickets__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.tickets__amount .tickets__title {
  text-align: right;
  margin-bottom: 11px;
}

.tickets__label {
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 14px;
}

.tickets__price {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  margin: 50px 0;
  text-align: right;
}

.tickets__btn {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #000000;
  background: #ffffff;
  border-radius: 2px;
  padding: 12px 40px;
  transition: 0.5s;
}

.btn-wrapper {
  text-align: right;
}

.tickets__btn:hover {
  background: var(--color-hover);
}

.tickets__label_margin {
  margin-top: 35px;
}

.number-choice {
  width: 150px;
  height: 50px;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.number-choice__btn {
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  transition: 0.5s;
}

.number-choice__btn:hover {
  color: var(--color-hover);
}

.number-choice__number {
  all: unset;
  width: 3em;
  text-align: center;
  font-weight: 300;
  line-height: 26px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .section_contacts .section__title {
  margin-bottom: 75px;
} */

/* .section_contacts .section__photo {
  margin: 0;
} */

/* .contacts {
} */

/* .contacts__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 36px;
} */

/* .contacts__address,
.contacts__phone,
.contacts__mail {
  font-weight: 300;
  line-height: 26px;
  color: #000000;
} */

/* .contacts address p + p {
  margin-top: 20px;
} */

// .footer {
//   padding: 75px 0 45px 0;
//   background-color: var(--bg-dark);
// }

/* .footer__row {
  display: flex;
  gap: 20px;
  align-items: center;
} */

/* .footer__logo {
  align-self: flex-start;
  flex: 0 1 195px;
} */

/* .footer__menu {
  flex: 0 1 366px;
  margin-left: 145px;
  margin-right: auto;
} */

/* .footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  align-content: space-between;
} */

/* .footer__menu-item {
}

.footer__menu-link {
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  transition: 0.5s;
} */

/* .footer__menu-link:hover {
  color: var(--color-hover);
} */

/* .footer__social-media {
  flex: 0 1 336px;
  align-self: flex-end;
  font-size: 0;
} */

/* .footer__social-media a {
  display: inline-block;
  margin: 0 12px;
  transition: 0.5s;
} */

/* .footer__social-media a:first-child {
  margin-left: 0;
}

.footer__social-media a:last-child {
  margin-right: 0;
} */

/* .footer__social-media a:hover {
  filter: invert(55%) sepia(12%) saturate(933%) hue-rotate(356deg)
    brightness(96%) contrast(91%);
} */
