.contacts {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;

  @media screen and (max-width: 769px) {
    flex-direction: column;
  }

  // .contacts__title
  &__title {
    font-weight: var(--contacts-subtitle-font-weight);
    font-size: var(--logo-fz);
    line-height: 33px;
    margin-bottom: 50px;

    @media screen and (max-width: 1025px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 35px;
    }

    @media screen and (max-width: 769px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: 421px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__list {
    flex: 0 0 auto;
    margin-right: 16px;
  }

  // .contacts__address
  &__address,
  &__phone,
  &__mail {
    font-weight: var(--main-text-font-weight);
    line-height: 26px;

    @media screen and (max-width: 1025px) {
      font-size: 20px;
      line-height: 23px;
    }

    @media screen and (max-width: 769px) {
      font-size: 18px;
      line-height: 21px;
    }

    @media screen and (max-width: 421px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__phone,
  &__mail {
    color: var(--color-text);
    @include transition-hover();
  }

  &__phone:hover,
  &__mail:hover {
    color: var(--color-hover);
  }

  &__phone:active,
  &__mail:active {
    color: var(--color-active);
  }

  address p + p {
    margin-top: 25px;

    @media screen and (max-width: 1025px) {
      margin-top: 13px;
    }

    @media screen and (max-width: 769px) {
      margin-top: 11px;
    }

    @media screen and (max-width: 421px) {
      margin-top: 10px;
    }
  }
  // .contacts__map
  &__map {
    flex: 0 1 960px;

    @media screen and (max-width: 1025px) {
      flex: 0 1 694px;
    }

    @media screen and (max-width: 769px) {
      flex: 0 1 auto;
      width: 100%;
      margin-top: 40px;
    }

    @media screen and (max-width: 421px) {
      margin-top: 36px;
    }
  }
}

.mapbox {
  // .mapbox__container
  &__container {
    position: relative;
    padding-bottom: 64.58%;

    @media screen and (max-width: 1025px) {
      padding-bottom: 65.42%;
    }

    @media screen and (max-width: 769px) {
      padding-bottom: 65.38%;
    }

    @media screen and (max-width: 421px) {
      padding-bottom: 65.26%;
    }
  }

  // .mapbox__map
  &__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.mapboxgl-popup {
  max-width: 200px;

  h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #c6d0d2;
    padding: 10px 5px;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 14px;
}
