:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

/*Delete cross from IE inputs*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: initial;
  border: none;
  padding: 0;
  margin: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* common styles */
:root {
  --main-text-font-family: "Roboto", sans-serif;
  --titles-font-family: "Forum", cursive;
  --video-titles-fz: 18px;
  --main-text-fz: 22px;
  --logo-fz: 28px;
  --cards-title: 32px;
  --titles-fz: 80px;
  --menus-font-weight: 100;
  --main-text-font-weight: 300;
  --titles-font-weight: 400;
  --contacts-subtitle-font-weight: 500;
  --tickets-subtitle-font-weight: 700;
  --titles-letter-spacing: 5px;
  --links-letter-spacing: 2px;
  --bg-dark: #030303;
  --bg-light: #ffffff;
  --color-hover: #9d8665;
  --color-active: #7e6c51;
  --color-btn: #710707;
  --color-delimiter: #666666;
  --color-text: #000000;
  scroll-behavior: smooth;
}

/* Roboto 22px / 26px */
body {
  font-family: var(--main-text-font-family);
  font-size: var(--main-text-fz);
  line-height: 26px;
}

.footer__container, .section__container, .header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-dark);
  padding: 55px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  flex: 0 1 775px;
}

.logo {
  display: inline-flex;
  align-items: baseline;
  font-family: var(--titles-font-family);
  font-size: var(--logo-fz);
  line-height: 31px;
  letter-spacing: var(--titles-letter-spacing);
  text-transform: uppercase;
  color: var(--bg-light);
  transition: 0.5s;
  cursor: pointer;
}
.logo:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(93%) contrast(89%);
}
.logo:active {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(70%) contrast(89%);
}
.logo__image {
  width: 49px;
  height: 26px;
  margin-right: 25px;
  background-image: url("../assets/svg/logo.svg");
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}
.main-menu__list-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 142px;
  gap: 11px;
  align-content: space-between;
}
.main-menu__link {
  display: block;
  padding: 7px 5px;
  font-weight: var(--menus-font-weight);
  letter-spacing: var(--links-letter-spacing);
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.main-menu__link:hover {
  color: var(--color-hover);
}
.main-menu__link:active {
  color: var(--color-active);
}

.section {
  background-color: var(--bg-light);
  padding: 75px 0;
  color: var(--color-text);
}
.section__title {
  font-family: var(--titles-font-family);
  font-size: var(--titles-fz);
  line-height: 90px;
  letter-spacing: var(--titles-letter-spacing);
  text-transform: uppercase;
  color: var(--color-hover);
}
.section__title_underline {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}
.section__content {
  margin-top: 75px;
}

.section_dark {
  background-color: var(--bg-dark);
  color: var(--bg-light);
}
.section_dark .section__title {
  color: var(--bg-light);
}

.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts__title {
  font-weight: var(--contacts-subtitle-font-weight);
  font-size: var(--logo-fz);
  line-height: 33px;
  margin-bottom: 50px;
}
.contacts__address, .contacts__phone, .contacts__mail {
  font-weight: var(--main-text-font-weight);
  line-height: 26px;
}
.contacts__phone, .contacts__mail {
  color: var(--color-text);
  transition: 0.5s;
  cursor: pointer;
}
.contacts__phone:hover, .contacts__mail:hover {
  color: var(--color-hover);
}
.contacts__phone:active, .contacts__mail:active {
  color: var(--color-active);
}
.contacts address p + p {
  margin: 25px 0;
}
.footer {
  padding-top: 84px;
  background-color: var(--bg-dark);
}
.footer__inner-top {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.footer__logo {
  align-self: flex-start;
  flex: 0 1 195px;
}
.footer__menu {
  flex: 0 1 370px;
  margin-left: 137px;
  margin-right: auto;
}
.footer__social-media {
  flex: 0 1 340px;
  align-self: flex-end;
}
.footer__delimiter {
  height: 3px;
  background-color: var(--color-delimiter);
}
.footer__inner-bottom {
  padding: 45px 0;
  line-height: 22px;
  letter-spacing: var(--links-letter-spacing);
  font-weight: var(--menus-font-weight);
  display: flex;
  align-content: center;
}
.footer__time, .footer__rsschool-link, .footer__my-github-link {
  color: var(--bg-light);
  padding: 7px 0;
}
.footer__rsschool-link, .footer__my-github-link {
  transition: 0.5s;
  cursor: pointer;
}
.footer__rsschool-link {
  margin-left: 488px;
  margin-right: auto;
}
.footer__rsschool-link:hover, .footer__my-github-link:hover {
  color: var(--color-hover);
}
.footer__rsschool-link:active, .footer__my-github-link:active {
  color: var(--color-active);
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.social-media__link {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-delimiter);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.social-media__link:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(93%) contrast(89%);
}
.social-media__link:active {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(70%) contrast(89%);
}

/*# sourceMappingURL=style.css.map */
