:root {
  --main-font-family: "Roboto", sans-serif;
  --titles-font-family: "Forum", cursive;
  --main-fz: 22px;

  --bg-dark: #030303;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-fz);
}

.header {
  background-color: var(--bg-dark);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 74px 0 76px 0;
}

.header__logo {
  display: inline-flex;
  align-items: baseline;

  font-family: var(--titles-font-family);
  font-size: 28px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;

  transition: 0.5s;
}

.header__logo:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg)
    brightness(93%) contrast(89%);
}

.header__logo-image {
  width: 49px;
  height: 26px;
  margin-right: 20px;

  background-image: url("../assets/svg/logo.svg");
}

.header__menu {
  flex: 0 1 720px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}

.header__menu-item {
  padding: 0 5px;
}

.header__menu-link {
  display: inline-block;

  font-style: normal;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffff;

  transition: 0.5s;
}

.header__menu-link:hover,
.header__menu-link:active {
  color: #9d8665;
}
/* font-family: "Forum", cursive;
    font-family: "Roboto", sans-serif; */
