:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

/*Delete cross from IE inputs*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: initial;
  border: none;
  padding: 0;
  margin: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* common styles */
:root {
  --main-text-font-family: "Roboto", sans-serif;
  --titles-font-family: "Forum", cursive;
  --video-titles-fz: 18px;
  --main-text-fz: 22px;
  --logo-fz: 28px;
  --cards-title: 32px;
  --titles-fz: 80px;
  --menus-font-weight: 100;
  --main-text-font-weight: 300;
  --titles-font-weight: 400;
  --contacts-subtitle-font-weight: 500;
  --tickets-subtitle-font-weight: 700;
  --titles-letter-spacing: 5px;
  --links-letter-spacing: 2px;
  --bg-dark: #030303;
  --bg-light: #ffffff;
  --color-hover: #9d8665;
  --color-active: #7e6c51;
  --color-checked-slider-square: #d2b183;
  --color-selection-text: #caaa7d;
  --color-btn: #710707;
  --color-delimiter: #666666;
  --color-text: #000000;
  --color-hover-controls: #989898;
  --color-range: #c4c4c4;
  --color-dots: #999999;
  --color-checked-dot: #333333;
  scroll-behavior: smooth;
}

/* Roboto 22px / 26px */
body {
  font-family: var(--main-text-font-family);
  font-size: var(--main-text-fz);
  line-height: 26px;
}

.footer__container, .section__container, .header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-dark);
  padding: 55px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  flex: 0 1 775px;
}

.logo {
  display: inline-flex;
  align-items: baseline;
  font-family: var(--titles-font-family);
  font-size: var(--logo-fz);
  line-height: 31px;
  letter-spacing: var(--titles-letter-spacing);
  text-transform: uppercase;
  color: var(--bg-light);
  transition: 0.5s;
  cursor: pointer;
}
.logo:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(93%) contrast(89%);
}
.logo:active {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(70%) contrast(89%);
}
.logo__image {
  width: 49px;
  height: 26px;
  margin-right: 25px;
  background-image: url("../assets/svg/logo.svg");
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}
.main-menu__list-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 142px;
  gap: 11px;
  align-content: space-between;
}
.main-menu__link {
  display: block;
  padding: 7px 5px;
  font-weight: var(--menus-font-weight);
  letter-spacing: var(--links-letter-spacing);
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.main-menu__link:hover {
  color: var(--color-hover);
}
.main-menu__link:active {
  color: var(--color-active);
}

.section {
  background-color: var(--bg-light);
  padding: 75px 0;
  color: var(--color-text);
}
.section__title {
  font-family: var(--titles-font-family);
  font-size: var(--titles-fz);
  line-height: 90px;
  letter-spacing: var(--titles-letter-spacing);
  text-transform: uppercase;
  color: var(--color-hover);
}
.section__title_underline {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}
.section_welcome {
  padding: 0;
}
.section__welcome-content {
  height: 810px;
  position: relative;
}
.section__welcome-block {
  position: relative;
  padding-top: 150px;
  z-index: 1;
}
.section__welcome-subtitle {
  margin-top: 25px;
  font-size: var(--logo-fz);
  line-height: 33px;
  font-weight: var(--main-text-font-weight);
  letter-spacing: var(--links-letter-spacing);
}
.section__btn {
  display: block;
  margin-top: 75px;
  width: 360px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
  font-weight: var(--main-text-font-weight);
  line-height: 75px;
  letter-spacing: var(--links-letter-spacing);
  color: var(--bg-light);
  background-color: var(--color-btn);
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.section__btn:hover {
  background-color: var(--color-hover);
}
.section__carousel {
  bottom: 0;
  right: 0;
}
.section__content {
  margin-top: 75px;
}
.section_dark {
  background-color: var(--bg-dark);
  color: var(--bg-light);
}
.section_dark .section__title {
  color: var(--bg-light);
}
.section__explore-content {
  display: flex;
  justify-content: space-between;
}
.section__explore-content .section__title {
  margin-bottom: 75px;
}
.section__explore-description {
  flex: 0 1 660px;
}
.section__explore-text {
  font-weight: var(--main-text-font-weight);
  line-height: 38px;
}
.section__explore-text_highlight {
  color: var(--color-selection-text);
}
.section__explore-text + .section__explore-text {
  margin-top: 25px;
}
.section__compare-photos {
  margin-top: 15px;
  flex: 0 0 720px;
}
.section__video-description {
  display: flex;
}
.section__video-description .section__title {
  flex: 0 1 50%;
}
.section__video-text {
  flex: 0 1 50%;
  margin-top: 10px;
  line-height: 38px;
  font-weight: var(--main-text-font-weight);
}
.section__video-player {
  margin-top: 75px;
}
.section__video-slider {
  margin-top: 40px;
}
.section_gallery {
  padding-bottom: 0;
}
.section__gallery-container {
  margin-top: 75px;
  height: 1960px;
  overflow-y: hidden;
}
.section_tickets {
  padding-bottom: 0;
}
.section__parallax {
  margin-top: 75px;
  height: 400px;
  background-image: url("../assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.carousel {
  position: absolute;
  padding-bottom: 60px;
}
.carousel__container {
  position: relative;
}
.carousel__container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}
.carousel__item {
  display: none;
}
.carousel__item:first-child {
  display: block;
}
.carousel__item-photo {
  display: block;
}
.carousel__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 40px 75px;
  width: 600px;
  background-color: var(--bg-dark);
}
.carousel__current-slide {
  font-weight: var(--titles-font-weight);
  line-height: 40px;
}
.carousel__squares {
  flex: 0 0 180px;
  margin-left: 55px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.carousel__squares-item {
  width: 16px;
  height: 16px;
  background-color: var(--bg-light);
  transition: 0.5s;
  cursor: pointer;
}
.carousel__squares-item_checked {
  background-color: var(--color-checked-slider-square);
}
.carousel__squares-item:hover {
  background-color: var(--color-hover);
}
.carousel__btns {
  flex: 0 0 80px;
  display: flex;
  justify-content: space-between;
}
.carousel__arrow-btn {
  padding: 10px 0;
  transition: 0.5s;
  cursor: pointer;
}
.carousel__arrow-btn:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(93%) contrast(89%);
}
.carousel__arrow-btn img {
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 75px 10px;
}
.cards__item:hover .cards__item-title::after {
  width: 100%;
}
.cards__item-title {
  font-family: var(--titles-font-family);
  font-size: var(--cards-title);
  line-height: 35px;
  letter-spacing: var(--titles-letter-spacing);
  text-transform: uppercase;
  color: var(--color-text);
  margin-top: 25px;
  position: relative;
}
.cards__item-title::after {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 300px;
  height: 2px;
  background: var(--color-btn);
  transition: 0.5s;
}
.cards__item-subtitle {
  font-weight: var(--menus-font-weight);
  color: var(--color-text);
  margin-top: 22px;
}
.cards__item-text {
  font-weight: var(--menus-font-weight);
  font-size: var(--video-titles-fz);
  line-height: 21px;
  color: var(--color-text);
  margin-top: 10px;
}

.compare-photos {
  position: relative;
  height: 700px;
}
.compare-photos__photo {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.compare-photos__photo img {
  display: block;
  vertical-align: middle;
}
.compare-photos__slider {
  position: absolute;
  z-index: 1;
  cursor: ew-resize;
  width: 39px;
  height: 700px;
  background-image: url("../assets/svg/explore-slider.svg");
}

.video-player__player {
  position: relative;
}
.video-player__player video {
  display: block;
}
.video-player__big-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
  cursor: pointer;
}
.video-player__big-play:hover {
  filter: invert(65%) sepia(0%) saturate(55%) hue-rotate(221deg) brightness(93%) contrast(92%);
}
.video-player__panel {
  padding: 0 25px 0 30px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-text);
}
.video-player__btn {
  transition: 0.5s;
  cursor: pointer;
}
.video-player__btn:hover {
  filter: invert(65%) sepia(0%) saturate(55%) hue-rotate(221deg) brightness(93%) contrast(92%);
}
.video-player__range {
  height: 8px;
  outline: none;
  -webkit-appearance: none;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}
.video-player__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--bg-light);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.video-player__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--bg-light);
  border-radius: 50%;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.video-player__range:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
.video-player__range:hover::-webkit-slider-thumb {
  background: var(--color-hover-controls);
}
.video-player__range:hover::-moz-range-thumb {
  background: var(--color-hover-controls);
}
.video-player__range-time {
  width: 929px;
  background: linear-gradient(to right, var(--color-btn) 0%, var(--color-btn) 54%, var(--color-range) 54%, var(--color-range) 100%);
}
.video-player__range-volume {
  width: 155px;
  background: linear-gradient(to right, var(--color-btn) 0%, var(--color-btn) 43%, var(--color-range) 43%, var(--color-range) 100%);
}

.video-slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-slider__item iframe {
  width: 452px;
  height: 254px;
  display: block;
}
.video-slider__controls {
  width: 200px;
  height: 12px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-slider__controls-btn {
  transition: 0.5s;
  cursor: pointer;
}
.video-slider__controls-btn img {
  display: block;
}
.video-slider__controls-btn:hover {
  filter: invert(7%) sepia(85%) saturate(4606%) hue-rotate(7deg) brightness(50%) contrast(107%);
}
.video-slider__controls-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-dots);
  transition: 0.5s;
  cursor: pointer;
}
.video-slider__controls-dot_checked {
  background-color: var(--color-checked-dot);
}
.video-slider__controls-dot:hover {
  background-color: var(--color-btn);
}

.gallery {
  position: relative;
}
.gallery__inner-container {
  height: 3020px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.gallery__inner-container::before, .gallery__inner-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.gallery__item {
  max-width: 456px;
  margin-bottom: 24px;
}
.gallery__item:nth-child(3n+1) {
  order: 1;
}
.gallery__item:nth-child(3n+2) {
  order: 2;
}
.gallery__item:nth-child(3n) {
  order: 3;
}
.gallery__item:first-child, .gallery__item:nth-child(3) {
  padding-top: 50px;
}
.gallery::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets {
  display: flex;
  justify-content: space-between;
}
.tickets__parameters {
  flex: 0 1 660px;
}
.tickets__row {
  display: flex;
  justify-content: space-between;
}
.tickets__type .tickets__title {
  margin-bottom: 50px;
}
.tickets__type label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  font-weight: var(--main-text-font-weight);
  transition: 0.5s;
  cursor: pointer;
}
.tickets__type label:hover {
  color: var(--color-hover);
}
.tickets__type label:hover::before {
  border-color: var(--color-hover);
}
.tickets__type label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--bg-dark);
  transition: 0.5s;
}
.tickets__type label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.tickets__type input {
  display: none;
}
.tickets__type input:checked + label::after {
  background: black;
}
.tickets__type input:checked + label:hover::after {
  background: var(--color-hover);
}
.tickets__title {
  font-weight: var(--tickets-subtitle-font-weight);
  font-size: var(--logo-fz);
  line-height: 33px;
}
.tickets__amount .tickets__title {
  margin-bottom: 25px;
  text-align: right;
}
.tickets__label {
  margin-bottom: 15px;
  font-weight: var(--main-text-font-weight);
}
.tickets__label_margin {
  margin-top: 10px;
}
.tickets__price {
  margin-top: 50px;
  font-weight: var(--tickets-subtitle-font-weight);
  font-size: var(--logo-fz);
  line-height: 33px;
  letter-spacing: 1.65px;
  text-align: right;
}
.tickets__btn-wrapper {
  text-align: right;
  margin-top: 60px;
}
.tickets__btn {
  width: 175px;
  height: 50px;
  border-radius: 2px;
  background-color: var(--color-text);
  transition: 0.5s;
  cursor: pointer;
  font-weight: var(--main-text-font-weight);
  font-size: var(--main-text-fz);
  line-height: 50px;
  text-align: center;
  letter-spacing: var(--links-letter-spacing);
  color: var(--bg-light);
}
.tickets__btn:hover {
  background: var(--color-hover);
  color: var(--color-text);
}

.number-choice {
  width: 150px;
  height: 50px;
  border: 3px solid var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
.number-choice__btn {
  font-size: var(--cards-title);
  line-height: 37px;
  color: var(--color-text);
  transition: 0.5s;
  cursor: pointer;
}
.number-choice__btn:hover {
  color: var(--color-hover);
}
.number-choice__number {
  all: unset;
  width: 3em;
  text-align: center;
  font-weight: var(--main-text-font-weight);
  font-size: var(--main-text-fz);
  line-height: 26px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts__title {
  font-weight: var(--contacts-subtitle-font-weight);
  font-size: var(--logo-fz);
  line-height: 33px;
  margin-bottom: 50px;
}
.contacts__address, .contacts__phone, .contacts__mail {
  font-weight: var(--main-text-font-weight);
  line-height: 26px;
}
.contacts__phone, .contacts__mail {
  color: var(--color-text);
  transition: 0.5s;
  cursor: pointer;
}
.contacts__phone:hover, .contacts__mail:hover {
  color: var(--color-hover);
}
.contacts__phone:active, .contacts__mail:active {
  color: var(--color-active);
}
.contacts address p + p {
  margin: 25px 0;
}
.footer {
  padding-top: 84px;
  background-color: var(--bg-dark);
}
.footer__inner-top {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.footer__logo {
  align-self: flex-start;
  flex: 0 1 195px;
}
.footer__menu {
  flex: 0 1 370px;
  margin-left: 137px;
  margin-right: auto;
}
.footer__social-media {
  flex: 0 1 340px;
  align-self: flex-end;
}
.footer__delimiter {
  height: 3px;
  background-color: var(--color-delimiter);
}
.footer__inner-bottom {
  padding: 45px 0;
  line-height: 22px;
  letter-spacing: var(--links-letter-spacing);
  font-weight: var(--menus-font-weight);
  display: flex;
  align-content: center;
}
.footer__time, .footer__rsschool-link, .footer__my-github-link {
  color: var(--bg-light);
  padding: 7px 0;
}
.footer__rsschool-link, .footer__my-github-link {
  transition: 0.5s;
  cursor: pointer;
}
.footer__rsschool-link {
  margin-left: 488px;
  margin-right: auto;
}
.footer__rsschool-link:hover, .footer__my-github-link:hover {
  color: var(--color-hover);
}
.footer__rsschool-link:active, .footer__my-github-link:active {
  color: var(--color-active);
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.social-media__link {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-delimiter);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.social-media__link:hover {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(93%) contrast(89%);
}
.social-media__link:active {
  filter: invert(55%) sepia(25%) saturate(457%) hue-rotate(356deg) brightness(70%) contrast(89%);
}

.google-street-view {
  width: 100vw;
  height: 100vh;
}

.google-street-view__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*# sourceMappingURL=style.css.map */
