.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 75px 10px;

  // .cards__item
  &__item {
    &:hover .cards__item-title::after {
      width: 100%;
    }
  }
  // .cards__item-image
  &__item-image {
  }
  // .cards__item-title
  &__item-title {
    @include title-font-style(var(--cards-title), 35px, var(--color-text));
    margin-top: 25px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -9px;
      left: 0;
      width: 300px;
      height: 2px;
      background: var(--color-btn);
      transition: 0.5s;
    }
  }
  // .cards__item-subtitle
  &__item-subtitle {
    font-weight: var(--menus-font-weight);
    color: var(--color-text);
    margin-top: 22px;
  }
  // .cards__item-text
  &__item-text {
    font-weight: var(--menus-font-weight);
    font-size: var(--video-titles-fz);
    line-height: 21px;
    color: var(--color-text);
    margin-top: 10px;
  }
}
