.footer {
  padding-top: 84px;
  background-color: var(--bg-dark);

  @media screen and (max-width: 1025px) {
    padding-top: 60px;
  }

  @media screen and (max-width: 769px) {
    padding-top: 48px;
  }

  @media screen and (max-width: 421px) {
    padding-top: 40px;
  }

  // .footer__container
  &__container {
    @extend %container;
  }

  // .footer__inner-top
  &__inner-top {
    display: flex;
    align-items: center;
    padding-bottom: 43px;
  }

  // .footer__logo
  &__logo {
    align-self: flex-start;
    flex: 0 1 195px;
  }

  // .footer__menu
  &__menu {
    flex: 0 1 370px;
    margin-left: 137px;
    margin-right: auto;
  }

  // .footer__social-media
  &__social-media {
    flex: 0 1 340px;
    align-self: flex-end;
  }

  // .footer__delimiter
  &__delimiter {
    height: 3px;
    background-color: var(--color-delimiter);

    @media screen and (max-width: 769px) {
      height: 1px;
    }

    @media screen and (max-width: 421px) {
      height: 2px;
    }
  }

  // .footer__inner-bottom
  &__inner-bottom {
    padding: 45px 0;
    line-height: 22px;
    letter-spacing: var(--links-letter-spacing);
    font-weight: var(--menus-font-weight);
    display: flex;
    align-content: center;
    justify-content: space-between;

    @media screen and (max-width: 769px) {
      padding: 35px 0;
    }
  }

  // .footer__time
  &__time,
  &__rsschool-link,
  &__my-github-link {
    color: var(--bg-light);
    padding: 5px 0;

    @media screen and (max-width: 421px) {
      font-size: 16px;
    }
  }

  &__rsschool-link {
    @media screen and (max-width: 569px) {
      display: none;
    }
  }

  &__rsschool-link,
  &__my-github-link {
    @include transition-hover();
  }

  &__rsschool-link:hover,
  &__my-github-link:hover {
    color: var(--color-hover);
  }

  &__rsschool-link:active,
  &__my-github-link:active {
    color: var(--color-active);
  }
}

.social-media {
  @include flex(space-between);
  padding-bottom: 16px;

  // .social-media__link
  &__link {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--color-delimiter);
    @include flex();
    @include transition-hover();
  }

  // .social-media__link:hover
  &__link:hover {
    @include hover-filter();
  }

  // .social-media__link:active
  &__link:active {
    @include active-filter();
  }
}
