.header {
  background-color: var(--bg-dark);
  padding: 55px 0;

  // .header__container
  &__container {
    @extend %container;
  }

  // .header__inner
  &__inner {
    @include flex(space-between);
  }

  // .header__menu
  &__menu {
    flex: 0 1 775px;
  }
}

.logo {
  display: inline-flex;
  align-items: baseline;

  @include title-font-style(var(--logo-fz), 31px, var(--bg-light));
  @include transition-hover();

  .footer & {
    @media screen and (max-width: 749px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  // .logo:hover
  &:hover {
    @include hover-filter();
  }

  &:active {
    @include active-filter();
  }

  // .logo__image
  &__image {
    width: 49px;
    height: 26px;
    margin-right: 25px;
    flex-shrink: 0;

    background-image: url("../assets/svg/logo.svg");

    .footer & {
      @media screen and (max-width: 749px) {
        width: 29px;
        height: 16px;
        margin-right: 20px;
        background-size: 29px 16px;
      }
    }
  }
}

.main-menu {
  // .main-menu__list
  &__list {
    @include flex(space-between);
    margin: 0 -5px;
  }

  // .main-menu__list-columns
  &__list-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 128px;
    gap: 25px;
    align-content: space-between;

    @media screen and (max-width: 749px) {
      height: 68px;
      gap: 30px;
    }
  }

  // .main-menu__link
  &__link {
    display: block;
    font-weight: var(--menus-font-weight);
    letter-spacing: var(--links-letter-spacing);
    color: #ffffff;
    @include transition-hover();

    .footer__menu & {
      @media screen and (max-width: 954px) {
        font-size: var(--video-titles-fz);
        line-height: 21px;
      }

      @media screen and (max-width: 749px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  // .main-menu__link:hover
  &__link:hover {
    color: var(--color-hover);
  }

  // .main-menu__link:active
  &__link:active {
    color: var(--color-active);
  }
}
