.tickets {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    flex: 0 1 720px;

    @media screen and (max-width: 699px) {
      flex: 0 0 auto;
      max-width: 444px;
    }

    & img {
      max-width: 100%;
    }
  }

  // .tickets__parameters
  &__parameters {
    flex: 0 1 660px;
    margin-left: 30px;

    @media screen and (max-width: 1269px) {
      flex: 0 0 175px;
      margin-left: 80px;
      margin-right: 29px;
    }

    @media screen and (max-width: 769px) {
      margin-left: 60px;
      margin-right: 49px;
    }

    @media screen and (max-width: 699px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // .tickets__row
  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1269px) {
      display: block;
    }
  }

  // .tickets__type
  &__type {
    @media screen and (max-width: 1269px) {
      display: none;
    }

    & .tickets__title {
      margin-bottom: 50px;
    }

    & label {
      display: block;
      position: relative;
      padding-left: 40px;
      margin-bottom: 25px;
      font-weight: var(--main-text-font-weight);
      @include transition-hover();

      &:hover {
        color: var(--color-hover);

        &::before {
          border-color: var(--color-hover);
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid var(--bg-dark);
        transition: 0.5s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0);
        transition: 0.5s;
      }
    }

    & input {
      display: none;
    }

    & input:checked + label::after {
      background: rgba(0, 0, 0, 1);
    }

    & input:checked + label:hover::after {
      background: var(--color-hover);
    }
  }

  // .tickets__title
  &__title {
    font-weight: var(--tickets-subtitle-font-weight);
    font-size: var(--logo-fz);
    line-height: 33px;
  }

  // .tickets__amount
  &__amount {
    & .tickets__title {
      margin-bottom: 25px;
      text-align: right;

      @media screen and (max-width: 1269px) {
        text-align: left;
        margin-bottom: 31px;
      }

      @media screen and (max-width: 769px) {
        margin-bottom: 39px;
      }

      @media screen and (max-width: 699px) {
        margin: 40px 0 20px 0;
        text-align: center;
      }

      @media screen and (max-width: 499px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  // .tickets__label
  &__label {
    margin-bottom: 15px;
    font-weight: var(--main-text-font-weight);

    @media screen and (max-width: 1269px) {
      margin-bottom: 8px;
    }

    @media screen and (max-width: 769px) {
      margin-bottom: 9px;
    }

    @media screen and (max-width: 699px) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 499px) {
      font-size: 16px;
      line-height: 19px;
    }

    // .tickets__label_margin
    &_margin {
      margin-top: 10px;

      @media screen and (max-width: 1269px) {
        margin-top: 31px;
      }

      @media screen and (max-width: 769px) {
        margin-top: 25px;
      }

      @media screen and (max-width: 699px) {
        margin-top: 20px;
      }
    }
  }

  // .tickets__price
  &__price {
    margin-top: 50px;
    font-weight: var(--tickets-subtitle-font-weight);
    font-size: var(--logo-fz);
    line-height: 33px;
    letter-spacing: 1.65px;
    text-align: right;

    @media screen and (max-width: 1269px) {
      margin-top: 25px;
      text-align: left;

      & span {
        margin-left: 16px;
      }
    }

    @media screen and (max-width: 769px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 699px) {
      text-align: center;

      & span {
        margin-left: 5px;
      }
    }

    @media screen and (max-width: 499px) {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0px;
    }
  }

  // .tickets__btn-wrapper
  &__btn-wrapper {
    text-align: right;
    margin-top: 60px;

    @media screen and (max-width: 1269px) {
      margin-top: 69px;
    }

    @media screen and (max-width: 769px) {
      margin-top: 40px;
    }
  }

  // .tickets__btn
  &__btn {
    width: 175px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--color-text);
    @include transition-hover();
    font-weight: var(--main-text-font-weight);
    font-size: var(--main-text-fz);
    line-height: 50px;
    text-align: center;
    letter-spacing: var(--links-letter-spacing);
    color: var(--bg-light);

    @media screen and (max-width: 499px) {
      font-size: 16px;
    }

    &:hover {
      background: var(--color-hover);
      color: var(--color-text);
    }
  }
}
