.video-slider {
  // .video-slider__container
  &__container {
    display: flex;
    align-items: center;
    gap: 42px;

    @media screen and (max-width: 769px) {
      gap: 20px;
    }
  }
  // .video-slider__item
  &__item {
    flex: 1 1 auto;
    position: relative;

    @media screen and (max-width: 769px) {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      padding-bottom: 56.19%;
    }

    & iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  // .video-slider__controls
  &__controls {
    width: 200px;
    height: 12px;
    margin: 0 auto;
    margin-top: 40px;
    @include flex(space-between);

    @media screen and (max-width: 769px) {
      margin-top: 20px;
      width: 190px;
    }

    @media screen and (max-width: 421px) {
      margin-top: 40px;
      width: 174px;
      height: 8px;
    }
  }
  // .video-slider__controls-btn
  &__controls-btn {
    @include transition-hover();

    & img {
      display: block;
    }

    &:hover {
      filter: invert(7%) sepia(85%) saturate(4606%) hue-rotate(7deg)
        brightness(50%) contrast(107%);
    }
  }
  // .video-slider__controls-dot
  &__controls-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-dots);
    @include transition-hover();

    @media screen and (max-width: 421px) {
      width: 8px;
      height: 8px;
    }

    &_checked {
      background-color: var(--color-checked-dot);
    }

    &:hover {
      background-color: var(--color-btn);
    }
  }
}
