.header {
  background-color: #121C1E;
  color: #ffffff;

  // .header__row
  &__row {
    @extend %flex-center;
  }

  // .header__menu
  &__menu {
  }

  // .header__controls
  &__controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .header__search
  &__search {
  }

  // .header__favorite-toys
  &__favorite-toys {
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 18px;
    color:#ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    background-image: url('./../assets/ball/ball.png');
  }
}

.menu {

  // .menu__list
  &__list {
    @extend %reset-indentions;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    text-decoration: none;
    font-family: $decor-font;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
      color: #ffff00;
    }
  }

  // .menu__logo
  &__logo {
    width: 50px;
    transition: 0.5s;

    &:hover {
      filter: invert(8%) sepia(98%) saturate(7493%) brightness(102%) contrast(103%);
      transform: rotate(15deg);
    }
  }
}

.search {
  position: relative;

  // .search__input
  &__input {
    display: block;
    width: 250px;
    outline: none;
    padding: 7px 40px 7px 15px;
    border-radius: 20px;
    border: 1px solid $border-color;
    background-color: $bg-color;
    color: #ffffff;
    font-family: $main-font;
    font-size: 18px;
    transition: 0.3s linear;

    &:focus {
      width: 300px;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: url('./../assets/svg/clean.svg');
      cursor: pointer;
    }

    &::-webkit-input-placeholder {
      color: #e7cffd;
    }

    &::-moz-placeholder {
      color: #e7cffd;
    }

    &:-moz-placeholder {
      color: #e7cffd;
    }

    &:-ms-input-placeholder {
      color: #e7cffd;
    }
  }

  // .search__btn
  &__btn {
    position: absolute;
    right: 9px;
    top: 7px;
  }

  // .search__icon
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
  }
}
