.toys {
  color: #ffffff;
  font-size: 1.3rem;

  // .toys__container
  &__container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 304px);
    gap: 20px;
    justify-content: center;

    @media screen and (max-width: 1620px) {
      grid-template-columns: repeat(4, 304px);
    }

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(3, 304px);
    }

    @media screen and (max-width: 975px) {
      grid-template-columns: repeat(2, 304px);
    }

    @media screen and (max-width: 645px) {
      grid-template-columns: 304px;
    }
  }
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: 1560px) {
    & {
      justify-content: center;
    }
  }
}

.filters {
  flex: 0 1 480px;
  padding: 10px 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $bg-color;
  backdrop-filter: blur(6px);

  // .filters__list
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // .filters__item
  &__item {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .filters__input
  &__input {
    display: none;

    &:checked + .filters__form-label,
    &:checked + .filters__size-label {
      filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
    }

    &:checked + .filters__color-label_color_white::after,
    &:checked + .filters__color-label_color_yellow::after,
    &:checked + .filters__color-label_color_green::after {
      border-color: #666666;
    }

    &:checked + .filters__color-label_color_red::after,
    &:checked + .filters__color-label_color_blue::after {
      border-color: #ffffff;
    }

    &:checked + .filters__favorite-label {
      background-color: $border-color;

      &::after {
        border-color: #ffffff;
      }
    }
  }

  // .filters__form-label
  &__form-label {
    display: block;
    cursor: pointer;

    img {
      display: block;
      height: 40px;
      transition: 0.5s;

      &:hover {
        filter: invert(20%);
      }
    }
  }

  // .filters__color-label
  &__color-label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border-color: #035617;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 3px;
      left: 10px;
      width: 8px;
      height: 15px;
      border-style: solid;
      border-color: transparent;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }

    // .filters__color-label_color_white
    &_color_white {
      background-color: #ffffff;
    }

    // .filters__color-label_color_yellow
    &_color_yellow {
      background-color: #ffff00;
    }

    // .filters__color-label_color_red
    &_color_red {
      background-color: #d80404;
    }

    // .filters__color-label_color_blue
    &_color_blue {
      background-color: #0077ff;
    }

    // .filters__color-label_color_green
    &_color_green {
      background-color: #76fc76;
    }
  }

  // .filters__size-label
  &__size-label {
    display: block;
    cursor: pointer;

    img {
      display: block;
      transition: 0.5s;

      &:hover {
        filter: invert(20%);
      }
    }

    // .filters__size-label_size_big
    &_size_big {
      img {
        height: 50px;
      }
    }

    // .filters__size-label_size_medium
    &_size_medium {
      img {
        height: 40px;
      }
    }

    // .filters__size-label_size_small
    &_size_small {
      img {
        height: 30px;
      }
    }
  }

  // .filters__favorite-label
  &__favorite-label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(6px);
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $border-color;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 3px;
      left: 10px;
      width: 8px;
      height: 15px;
      border-style: solid;
      border-color: transparent;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
  }
}

.title-section {
  font-weight: normal;
  margin: 16px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.ranges {
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $bg-color;
  backdrop-filter: blur(6px);
  flex: 0 1 540px;
  padding: 10px 20px;

  // .ranges__title
  &__title {
    margin-bottom: 20px;
  }

  // .ranges__count-slider-container
  &__count-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
  }

  // .ranges__year-slider-container
  &__year-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
}

.output-slider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid $border-color;
}

.count-slider {
  flex: 1 0 auto;
}

.year-slider {
  flex: 1 0 auto;
}

.sort {
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $bg-color;
  backdrop-filter: blur(6px);
  flex: 0 1 480px;
  padding: 10px 20px;

  // .sort__type-select
  &__type-select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 300px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    background-color: rgba(31, 112, 127, .3);
    background-image: url(../assets/svg/arrow-down.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
  }

  &__option {
    color: inherit;
    background-color: #183E42;
  }

  // .sort__btn
  &__btn {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $border-color;
    background-color: $bg-color;
    backdrop-filter: blur(6px);
    cursor: pointer;
    color: #ffffff;
    font-family: inherit;
    font-size: 20px;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 10px;
    }
    
    & + .sort__btn {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

.toy {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $bg-color;
  backdrop-filter: blur(6px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  min-height: 280px;
  padding: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &_is_chosen {
    .toy__ribbon {
      background: $ribbon-is-chosen;

      &::after {
        border-left-color: $ribbon-is-chosen;
      }
    }
  }

  // .toy__title
  &__title {
    font-size: 23px;
    margin: 10px 0;
    align-self: flex-start;
    padding-left: 10px;
    flex: 1 0 100%;
  }

  // .toy__photo
  &__photo {
    width: 90px;
    height: 112px;
    object-fit: contain;
  }

  // .toy__description
  &__description {
  }

  // .toy__count
  &__count {
    margin: 0;
  }

  // .toy__data
  &__data {
    padding-left: 3px;
  }

  // .toy__year
  &__year {
    margin: 15px 0;
  }

  // .toy__shape
  &__shape {
    margin: 15px 0;
  }

  // .toy__size
  &__size {
    margin: 15px 0;
  }

  // .toy__favorite
  &__favorite {
    margin: 15px 0;
  }

  // .toy__ribbon
  &__ribbon {
    position: absolute;
    top: 210px;
    width: 80px;
    height: 40px;
    background: $ribbon-color;
    left: -8px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
    }

    &::before {
      border-bottom: 8px solid #14455b;
      border-left: 8px solid transparent;
      top: -8px;
    }

    &::after {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 15px solid $ribbon-color;
      right: -15px;
    }
  }
}
